body {
  margin: 0;
  font-family: "Play", Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  overflow: hidden;
  max-height: 100vh;
}

.play-regular {
  font-family: "Play", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.play-bold {
  font-family: "Play", sans-serif;
  font-weight: 700;
  font-style: normal;
}

button {
  font-family: "Play", sans-serif;
  font-weight: 700;
  font-style: normal;
  padding: 8px 16px;
  font-size: 14px;
  background-color: #007bff;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

button:active {
  background-color: #004080;
}

.main-container {
  display: flex;
  flex-direction: column;
}

.top-panel {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  /* background-image: linear-gradient(to right, #ea6500, #ffb400); */
  color: #ffffff;
  max-height: 150px;
}

.top-panel .logo {
  width: 300px;
  height: 200px;
  background-image: url("favicon-256x256.png");
  background-repeat: no-repeat;
  background-size: contain;
  margin: 30px;
}

.top-panel .header-bar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.top-panel .header-bar .title {
  font-size: 24px;
  font-weight: bold;
  margin: 10px;
}
.top-panel .header-bar .client {
  font-size: 18px;
  font-weight: bold;
  margin: 10px;
}

.top-panel .header-bar .refresh-info {
  font-size: 14px;
  margin: 10px;
  color: #aaaaaa;
}

.main-panel {
  max-height: 100vh;
  display: flex;
}

.ticket-list {
  max-width: 320px;
  min-width: 320px;
  flex: 1;
  background-color: #f2f2f2;
  height: calc(100vh - 150px);
  /* height: 100vh; */
  overflow-y: scroll;
}

.ticket-preview {
  display: flex;
  flex: 1;
  padding: 5px;
  background-color: #f2f2f2;
  border-bottom: 1px solid #cccccc;
  /* border-radius: 15px; */
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.ticket-preview:hover {
  background-color: #d9d9d9;
}

/* .ticket-preview:nth-child(odd) {
  background-color: #e6e6e6;
}

.ticket-preview:nth-child(even) {
  background-color: #f2f2f2;
} */

.ticket-preview:hover {
  background-color: #d9d9d9;
}

.ticket-preview.active {
  background-color: #cccccc;
}

.ticket-preview .status-color-bar {
  width: 5px;
  border-radius: 5px;
  background-color: #ffc107;
}

.ticket-preview .status-color-bar[data-status="opened"] {
  background-color: #dc3545;
}

.ticket-preview .status-color-bar[data-status="closed"] {
  background-color: #28a745;
}

.ticket-preview .ticket-info {
  margin-left: 10px;
}

.ticket-preview .ticket-info .ticket-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.ticket-preview .ticket-info .ticket-header .ticket-id {
  font-size: 14pt;
  font-weight: bold;
  color: #616161;
}

.ticket-preview .ticket-info .ticket-header .ticket-assignee {
  font-size: 12pt;
  /* font-weight: bold; */
  margin-left: 5px;
}

.ticket-preview .ticket-info .ticket-age {
  /* margin-top: 3px;
  margin-bottom: 3px; */

  margin-left: 5px;
  color: #999999;
}
.ticket-preview .ticket-info .ticket-created-at {
  font-size: 11pt;
}
.ticket-preview .ticket-info .ticket-age-ago {
  font-size: 9pt;
}

.ticket-customer {
  margin-top: 3px;
  padding-left: 10px;
  font-size: 14px;
  font-weight: normal;
}

.ticket-preview .last-message-preview {
  padding: 5px;
  color: #999999;
  font-size: 12px;
}

.ticket-preview .last-message-preview .last-message-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.ticket-preview
  .last-message-preview
  .last-message-info
  .last-message-timestamp {
  font-size: 12px;
  color: #999999;
  text-align: right;
}

.ticket-preview .last-message-preview .last-message-text {
  font-size: 12px;
  width: 250px;
  padding: 5px;
  background-color: #ffffff;
  border-radius: 5px;
  border: 1px solid #cccccc;
  font-weight: bold;
  color: #333333;
  /* overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 200px; */
}

.ticket-messages {
  flex: 1;
  background-color: #e6e6e6;
  padding: 10px;
  overflow-y: scroll;
  width: calc(100vw - 320px);
  height: 100%;
}

.ticket-messages .message {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-bottom: 1px solid #cccccc;
  padding: 5px 0px;
  color: #999999;
  font-size: 12px;
}

.ticket-messages .message.agent .message-sender {
  color: #ea6500;
}

.ticket-messages .message.customer .message-sender {
  color: #007bff;
}
.ticket-messages .message.system .message-sender {
  color: #999999;
}

.ticket-messages .message .message-sender {
}

.ticket-messages .message .message-text {
  font-size: 14px;
  font-weight: normal;
  color: #333333;
  padding: 5px;
}

.ticket-messages .message .message-text img {
  max-width: 50%;
  max-height: 300px;
}

.ticket-messages .message .message-timestamp {
  font-size: 12px;
  font-weight: normal;
  color: #999999;
  text-align: right;
}

.message-sender {
  color: #007bff;

  &.agent {
    color: #EA6500;
  }
}

/* loading mask stuff */

.loader {
  display: none;
}

.loading .loader {
  display: block;
  z-index: 1000;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to right, #cccccc, #f2f2f2);
  background-size: 200% 100%;
  animation: gradientAnimation 0.5s linear infinite alternate;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

.ticket-list-loader.loading .ticket-list {
  display: hidden;
}

.status-select {
  width: 100%;
  height: 2rem;

}
